@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300");@charset " UTF-8";:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system," Segoe UI",Roboto," Helvetica Neue",Arial," Noto Sans"," Liberation Sans",sans-serif," Apple Color Emoji"," Segoe UI Emoji"," Segoe UI Symbol"," Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas," Liberation Mono"," Courier New",monospace;--bs-gradient:linear-gradient(180deg,rgba(255,255,255,.15),rgba(255,255,255,0))}*,::after,::before{box-sizing:border-box}@media (prefers-reduced-motion:no-preference){:root{scroll-behavior:smooth}}body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%}h1,h2,h5{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}h1{font-size:calc(1.375rem + 1.5vw)}h2{font-size:calc(1.325rem + .9vw)}h5{font-size:1.25rem}ul{padding-left:2rem}ul{margin-top:0;margin-bottom:1rem}small{font-size:.875em}a{color:#0d6efd;text-decoration:underline}figure{margin:0 0 1rem}img{vertical-align:middle}button{border-radius:0}button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button{text-transform:none}button{-webkit-appearance:button}::-moz-focus-inner{padding:0;border-style:none}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5)}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}@media (min-width:576px){.col-sm-12{flex:0 0 auto;width:100%}}.dropdown{position:relative}.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}.clearfix::after{display:block;clear:both;content:" "}.order-2{order:2!important}.pt-0{padding-top:0!important}.rev_slider_wrapper{position:relative;z-index:0;width:100%}.rev_slider{position:relative;overflow:visible}.rev_slider a{box-shadow:none}.rev_slider img{max-width:none!important;margin:0;padding:0;border:none}.rev_slider>ul,.rev_slider>ul>li,.rev_slider>ul>li:before{list-style:none!important;position:absolute;margin:0!important;padding:0!important;overflow-x:visible;overflow-y:visible;background-image:none;background-position:0 0;text-indent:0;top:0;left:0}.rev_slider>ul>li,.rev_slider>ul>li:before{visibility:hidden}.fullwidthbanner-container{padding:0;position:relative}.rev_slider .tp-caption{position:relative;visibility:hidden;white-space:nowrap;display:block;-webkit-font-smoothing:antialiased!important;z-index:1}.fullwidthbanner-container{overflow:hidden}.fullwidthbanner-container .fullwidthabanner{width:100%;position:relative}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.rev_slider{overflow:hidden}.rev_slider{overflow:hidden}

    ::-webkit-input-placeholder {
        color: #7c858c;
    }

    ::-moz-input-placeholder {
        color: #7c858c;
    }

    ::-ms-input-placeholder {
        color: #7c858c;
    }

    body {
        background-color: #fff;
        background-attachment: fixed;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        counter-reset: my-sec-counter;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        color: var(--text-color);
        font-size: var(--body-font-size);
        font-family: var(--text-font);
        font-weight: var(--body-font-weight);
        line-height: var(--body-line-height);
    }

    .text {
        color: var(--text-color);
        font-size: var(--body-font-size);
        font-family: var(--text-font);
        font-weight: var(--body-font-weight);
        line-height: var(--body-line-height);
    }

    h1,
    h2,
    h5 {
        color: var(--headings-color);
        font-family: var(--title-font);
        position: relative;
        line-height: var(--line-height-heading-);
        letter-spacing: -0.04em;
    }

    h5 a {
        color: inherit;
        font-weight: inherit;
    }

    h1,
    h2,
    h5 {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: var(--h1-font-size);
        font-weight: var(--h1-font-weight);
        line-height: var(--line-height-heading-h1);
    }

    h2 {
        font-size: var(--h2-font-size);
        font-weight: var(--h2-font-weight);
        line-height: var(--line-height-heading);
    }

    h5 {
        font-size: var(--h5-font-size);
        font-weight: var(--h5-font-weight);
        line-height: var(--line-height-heading);
    }

    a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: var(--body-font-weight);
    }

    a img {
        border: none;
    }

    ul {
        margin-bottom: 10px;
    }

    ul {
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }

    * {
        margin: 0px;
        padding: 0px;
        border: none;
        outline: none;
        font-size: 100%;
    }

    button {
        outline: none !important;
    }

    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    ul,
    li {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .title a {
        color: inherit;
    }

    .page-wrapper {
        position: relative;
        margin: 0 auto;
        width: 100%;
        min-width: 300px;
        overflow: hidden;
        z-index: 99;
        background-color: #ffffff;
    }

    .auto-container {
        position: static;
        max-width: var(--container-width);
        padding: 0px 15px;
        margin: 0 auto;
        width: 100%;
    }

    .list-style-one {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 12px 0;
    }

    .list-style-one li {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #75767a;
        margin-right: 20px;
    }

    .list-style-one li i {
        position: relative;
        top: 1px;
        color: var(--theme-color1);
        font-size: 13px;
        line-height: 20px;
        margin-right: 10px;
    }

    .list-style-one li a {
        display: block;
        color: #848484;
    }

    .social-icon-one {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .social-icon-one li {
        position: relative;
        margin-left: 27px;
    }

    .social-icon-one li:first-child {
        margin-left: 0;
    }

    .social-icon-one li a {
        position: relative;
        display: block;
        line-height: 40px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
    }

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-pattern-1 {
        background-image: url(../images/icons/pattern-1.jpg);
    }

    .theme-btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        font-family: var(--title-font);
    }

    .theme-btn .btn-title {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .btn-style-one {
        position: relative;
        font-size: 15px;
        line-height: 20px;
        padding: 20px 50px;
        font-weight: 600;
        overflow: hidden;
        z-index: 0;
        color: var(--theme-color2);
        background: var(--theme-color1);
    }

    .btn-style-one:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        width: 7px;
        height: 100%;
        background: var(--theme-color2);
        opacity: 0.15;
        content: "";
        z-index: -1;
    }

    .main-header {
        position: relative;
        width: 100%;
        z-index: 999;
    }

    .header-top {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-top .inner-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 0 80px;
    }

    @media (max-width: 1399.98px) {
        .header-top .inner-container {
            padding: 0 20px;
        }
    }

    .header-top .top-left {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header-top .top-right {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header-top .top-right .social-icon-one {
        margin-left: 41px;
    }

    .header-top .useful-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px 0;
    }

    .header-top .useful-links li {
        position: relative;
        padding-left: 15px;
        margin-left: 15px;
        font-size: 12px;
        color: #75767a;
        line-height: 20px;
    }

    .header-top .useful-links li:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    .header-top .useful-links li:first-child:before {
        display: none;
    }

    .header-top .useful-links li:before {
        position: absolute;
        left: -3px;
        top: 0;
        content: "/";
    }

    .header-top .useful-links li a {
        color: #808287;
    }

    .main-header .header-lower {
        position: relative;
    }

    .main-header .header-lower .logo-box {
        position: relative;
        padding: 20px 0;
    }

    .main-header {
        width: 100%;
        z-index: 999;
    }

    .main-header .logo {
        position: relative;
        display: block;
    }

    .main-header .logo img {
        max-width: 100%;
        height: auto;
    }

    .main-header .main-box {
        position: relative;
        left: 0px;
        top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .main-header .main-box .nav-outer {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    .main-menu {
        position: relative;
    }

    @media (max-width: 991.98px) {
        .main-menu {
            display: none;
        }
    }

    .main-menu .navbar-collapse {
        padding: 0px;
    }

    .main-menu .navigation {
        position: relative;
        margin: 0px;
    }

    .main-menu .navigation > li {
        position: relative;
        float: left;
        padding: 25px 0px;
        margin-right: 70px;
    }

    .main-menu .navigation > li:before {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 10px;
        height: 1px;
        width: 0%;
        background-color: var(--bg-theme-color1);
        z-index: 3;
        content: "";
    }

    .main-menu .navigation > li:last-child {
        margin-right: 0;
    }

    .main-menu .navigation > li.current:before {
        left: 0;
        width: 100%;
    }

    .main-menu .navigation > li > a {
        position: relative;
        display: block;
        text-align: center;
        opacity: 1;
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main-menu .navigation > li.current > a {
        color: var(--theme-color1);
        font-weight: 500;
    }

    .main-menu .navigation > li.dropdown > a {
        padding-right: 14px;
        margin-right: -14px;
    }

    .main-menu .navigation > li.dropdown > a:after {
        content: "\f107";
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 20px;
        display: block;
        line-height: 24px;
        font-size: 12px;
        z-index: 5;
        font-family: "Font Awesome 6 Pro";
        font-weight: 900;
        margin-top: -2px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .main-header .outer-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

    .main-header .ui-btn {
        position: relative;
        display: block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        background: none;
        font-size: 26px;
        color: #ffffff;
    }

    .main-header .info-btn {
        position: relative;
        font-size: 16px;
        padding-left: 44px;
        color: #ffffff;
        text-align: left;
        font-weight: 500;
        white-space: nowrap;
        line-height: 20px;
        margin-left: 40px;
    }

    .main-header .info-btn small {
        display: block;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--theme-color1);
    }

    .main-header .info-btn .icon {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        line-height: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 1em;
        margin-right: 20px;
        padding-right: 20px;
    }

    .header-style-one {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .header-style-one .header-top {
        margin-left: 260px;
    }

    @media (max-width: 1399.98px) {
        .header-style-one .header-top {
            margin-left: 0;
        }
    }

    @media (max-width: 991.98px) {
        .header-style-one .header-top {
            display: none;
        }
    }

    .header-style-one .header-top .inner-container {
        padding-left: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        border-left: 1px solid rgba(255, 255, 255, 0.06);
    }

    @media (max-width: 1399.98px) {
        .header-style-one .header-top .inner-container {
            padding-left: 20px;
        }
    }

    .header-style-one .header-lower {
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    }

    @media (max-width: 991.98px) {
        .header-style-one .header-lower {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .header-style-one .header-lower .logo-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 260px;
        height: 134px;
        margin-top: -44px;
        margin-right: 40px;
        padding-left: 60px;
    }

    @media (max-width: 1399.98px) {
        .header-style-one .header-lower .logo-box {
            margin-top: 0;
            height: auto;
            padding-left: 20px;
            min-width: 180px;
        }
    }

    .header-style-one .main-box {
        padding-right: 80px;
    }

    @media (max-width: 1399.98px) {
        .header-style-one .main-box {
            padding-right: 20px;
        }
    }

    @media only screen and (max-width: 1699px) {
        .header-style-one .main-box .main-menu .navigation > li {
            margin-right: 45px;
        }

        .header-style-one .main-box .main-menu .navigation > li:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 1399.98px) {
        .header-style-one .main-box .outer-box .info-btn {
            display: none;
        }
    }

    .header-style-one .main-box .outer-box .search-btn {
        padding: 27px 40px;
        padding-left: 0;
        height: auto;
        width: auto;
        line-height: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.06);
    }

    @media (max-width: 1399.98px) {
        .header-style-one .main-box .outer-box .search-btn {
            border-radius: 0;
            padding-right: 0;
        }
    }

    .sticky-header {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        left: 0px;
        top: 0px;
        width: 100%;
        padding: 0px 0px;
        z-index: 99999;
        background: #ffffff;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    }

    .sticky-header .logo {
        padding: 10px 0;
    }

    .sticky-header .logo img {
        max-height: 40px;
    }

    .sticky-header .nav-outer {
        position: relative;
        background: none;
    }

    .sticky-header .inner-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .sticky-header .mobile-nav-toggler {
        color: var(--theme-color2);
    }

    .mobile-nav-toggler {
        position: relative;
        font-size: 28px;
        line-height: 20px;
        color: var(--theme-color1);
        display: none;
        top: -3px;
        margin-left: 20px;
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    @media (max-width: 991.98px) {
        .mobile-nav-toggler {
            display: block;
        }
    }

    .mobile-menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 300px;
        max-width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 999999;
    }

    .mobile-menu .menu-backdrop {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
    }

    .mobile-menu .upper-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px;
    }

    .mobile-menu .close-btn {
        position: relative;
        top: -10px;
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        z-index: 10;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    .mobile-menu .nav-logo {
        position: relative;
        text-align: left;
        width: 100%;
    }

    .mobile-menu .nav-logo img {
        max-height: 40px;
    }

    .mobile-menu .menu-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        background: var(--theme-color2);
        padding: 0px 0px;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        border-radius: 0px;
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    .mobile-menu .navigation {
        position: relative;
        display: block;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .contact-list-one {
        position: relative;
        padding: 30px 20px 20px;
    }

    .contact-list-one li {
        position: relative;
        margin-bottom: 20px;
    }

    .contact-list-one li:last-child {
        margin-right: 0;
    }

    .contact-list-one li .contact-info-box {
        position: relative;
        padding-left: 54px;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
    }

    .contact-list-one li .contact-info-box a {
        color: #ffffff;
    }

    .contact-list-one li .contact-info-box .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 34px;
        line-height: 50px;
        color: #ffffff;
    }

    .contact-list-one li .contact-info-box .title {
        display: block;
        font-size: 12px;
        color: #b2c1c0;
        font-weight: 400;
        text-transform: uppercase;
    }

    .mobile-menu .social-links {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: var(--theme-color2);
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: auto;
    }

    .mobile-menu .social-links li {
        position: relative;
        text-align: center;
        width: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-menu .social-links li a {
        position: relative;
        display: block;
        line-height: 50px;
        height: 50px;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
    }

    .sec-title {
        position: relative;
        margin-bottom: 50px;
    }

    .sec-title .sub-title {
        position: relative;
        display: block;
        font-size: var(--sec-title-subtitle-font-size);
        line-height: var(--sec-title-subtitle-line-height);
        font-weight: var(--sec-title-subtitle-font-weight);
        font-family: var(--sec-title-subtitle-font-family);
        color: var(--sec-title-subtitle-color);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 5px;
    }

    .sec-title h2 {
        position: relative;
        font-size: var(--sec-title-font-size);
        color: var(--sec-title-color);
        font-family: var(--sec-title-font-family);
        font-weight: var(--sec-title-font-weight);
        letter-spacing: -0.04em;
        line-height: 1.2em;
        margin-bottom: 0;
        z-index: 2;
    }

    @media (max-width: 575.98px) {
        .sec-title h2 {
            font-size: 36px;
        }

        .sec-title h2 br {
            display: none;
        }
    }

    .sec-title h2:before {
        position: absolute;
        left: 5px;
        top: 32px;
        height: 30px;
        width: 38px;
        border-radius: 5px 5px 5px 0;
        background-color: var(--bg-theme-color1);
        -webkit-transform: skew(-15deg);
        transform: skew(-15deg);
        z-index: -1;
        content: "";
    }

    @media (max-width: 575.98px) {
        .sec-title h2:before {
            height: 20px;
            width: 28px;
            top: 25px;
        }
    }

    .sec-title .text {
        margin-top: 30px;
    }

    .main-slider {
        position: relative;
        text-align: center;
    }

    .main-slider h1 {
        position: relative;
        display: block;
        font-size: 100px;
        line-height: 1em;
        color: #ffffff;
        letter-spacing: -0.04em;
        z-index: 3;
        padding: 30px 0 0;
    }

    .main-slider h1 .selected {
        position: relative;
    }

    .main-slider h1 .selected:after {
        position: absolute;
        left: -22px;
        top: 12px;
        width: 364px;
        height: 117px;
        background-image: url(../images/icons/icon-circle2.png);
        content: "";
    }

    .main-slider h1 .selected:before {
        position: absolute;
        left: 10px;
        top: -10px;
        z-index: -1;
        width: 364px;
        height: 118px;
        background-image: url(../images/icons/icon-circle3.png);
        content: "";
    }

    @media (max-width: 1399.98px) {
        .main-slider h1 {
            font-size: 80px;
            padding-top: 0;
        }

        .main-slider h1 .selected::before,
        .main-slider h1 .selected:after {
            display: none;
        }
    }

    @media (max-width: 991.98px) {
        .main-slider h1 {
            font-size: 72px;
        }
    }

    @media (max-width: 767.98px) {
        .main-slider h1 {
            font-size: 64px;
        }
    }

    @media (max-width: 575.98px) {
        .main-slider h1 {
            font-size: 52px;
        }
    }

    @media only screen and (max-width: 576px) {
        .main-slider h1 {
            font-size: 46px;
        }
    }

    @media only screen and (max-width: 424px) {
        .main-slider h1 {
            font-size: 36px;
        }
    }

    @media (max-width: 575.98px) {
        .main-slider .theme-btn {
            line-height: 20px;
            padding: 10px 30px;
        }
    }

    .about-section {
        position: relative;
        padding: 100px 0 50px;
    }

    .about-section:before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 35%;
        background-image: url(../images/icons/gradient.jpg);
        content: "";
    }

    .about-section .content-column {
        position: relative;
        margin-bottom: 50px;
    }

    .about-section .content-column .inner-column {
        position: relative;
        padding-left: 70px;
    }

    @media (max-width: 1199.98px) {
        .about-section .content-column .inner-column {
            padding-left: 0;
        }
    }

    .about-section .content-column .sec-title {
        margin-bottom: 35px;
    }

    .about-section .content-column .info-box {
        position: relative;
        padding-left: 105px;
        margin-bottom: 30px;
    }

    @media (max-width: 575.98px) {
        .about-section .content-column .info-box {
            padding-left: 0;
            text-align: center;
        }
    }

    .about-section .content-column .info-box .icon {
        position: absolute;
        left: 0;
        top: 0px;
        color: var(--theme-color1);
        line-height: 1em;
        font-size: 62px;
    }

    @media (max-width: 575.98px) {
        .about-section .content-column .info-box .icon {
            position: relative;
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    .about-section .content-column .info-box .icon:after {
        position: absolute;
        left: 20px;
        top: 20px;
        height: 52px;
        width: 52px;
        z-index: -1;
        background-color: #f2f3f6;
        content: "";
    }

    .about-section .content-column .info-box .title {
        margin-bottom: 5px;
    }

    .about-section .content-column .other-info {
        position: relative;
        padding-right: 230px;
        margin-top: 42px;
    }

    @media (max-width: 767.98px) {
        .about-section .content-column .other-info {
            padding-right: 0;
        }
    }

    .about-section .content-column .other-info .theme-btn {
        position: absolute;
        right: 0;
        top: 10px;
    }

    @media (max-width: 767.98px) {
        .about-section .content-column .other-info .theme-btn {
            position: relative;
            margin-top: 30px;
            top: 0;
        }
    }

    .about-section .content-column .author-info {
        position: relative;
        padding-left: 110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 88px;
    }

    .about-section .content-column .author-info .thumb {
        position: absolute;
        left: 0;
        top: 0;
        height: 88px;
        width: 88px;
        padding: 2px;
        background: -webkit-gradient(linear, left bottom, left top, from(var(--theme-color2)), to(var(--theme-color1)));
        background: linear-gradient(to top, var(--theme-color2), var(--theme-color1));
        border-radius: 50%;
    }

    .about-section .content-column .author-info .thumb img {
        border-radius: 50%;
        border: 9px solid #fff;
    }

    .about-section .content-column .author-info .name {
        margin-bottom: 0;
    }

    .about-section .content-column .author-info .designation {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 0;
    }

    .about-section .image-column {
        position: relative;
        margin-bottom: 50px;
    }

    @media (max-width: 991.98px) {
        .about-section .image-column {
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
        }
    }

    .about-section .image-column .image-box {
        position: relative;
        padding-bottom: 120px;
    }

    @media (max-width: 767.98px) {
        .about-section .image-column .image-box {
            padding-bottom: 0;
        }
    }

    .about-section .image-column .image-box .icon-circle {
        position: absolute;
        left: 85px;
        bottom: 40px;
    }

    @media (max-width: 991.98px) {
        .about-section .image-column .image-box .icon-circle {
            display: none;
        }
    }

    .about-section .image-column .image-box .icon-dots {
        position: absolute;
        right: 20px;
        bottom: 70px;
    }

    .about-section .image-column .image-1 {
        margin: 0;
    }

    .about-section .image-column .image-2 {
        position: absolute;
        right: -23px;
        bottom: 0;
        border: 10px solid #fff;
        margin-bottom: 0;
        -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 1199.98px) {
        .about-section .image-column .image-2 {
            right: 0;
        }
    }

    @media (max-width: 767.98px) {
        .about-section .image-column .image-2 {
            display: none;
        }
    }

    .about-section .image-column .exp-box {
        position: absolute;
        left: -80px;
        top: 90px;
        padding: 40px 40px 60px;
        background-image: url(../images/icons/shape2.png);
        height: 170px;
        width: 303px;
    }

    @media (max-width: 1199.98px) {
        .about-section .image-column .exp-box {
            left: 15px;
        }
    }

    @media (max-width: 767.98px) {
        .about-section .image-column .exp-box {
            display: none;
        }
    }

    .about-section .image-column .exp-box .inner {
        position: relative;
        padding-left: 85px;
    }

    .about-section .image-column .exp-box .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 62px;
        color: var(--theme-color2);
    }

    .about-section .image-column .exp-box .count {
        font-size: 48px;
        font-weight: 600;
        line-height: 1em;
        color: var(--theme-color2);
    }

    .about-section .image-column .exp-box .text {
        font-size: 15px;
        color: var(--theme-color2);
        line-height: 1em;
        font-weight: 600;
    }

    .services-section {
        position: relative;
        padding: 120px 0 80px;
    }

    .services-section .bg-pattern-1 {
        max-height: 435px;
    }

    @media (max-width: 767.98px) {
        .services-section .bg-pattern-1 {
            min-height: 700px;
        }
    }

    .services-section .bg-shape {
        position: absolute;
        width: 377px;
        height: 614px;
        right: 0;
        top: 140px;
        background-image: url(../images/icons/shape1.png);
    }

    .services-section .sec-title {
        margin-bottom: 45px;
    }

    .services-section .sec-title h2 {
        color: var(--theme-color-service-block);
    }

    .services-section .sec-title .text {
        margin-top: 40px;
    }

    .service-block {
        margin-bottom: 30px;
    }

    .service-block .inner-box {
        position: relative;
        background: #fff;
    }

    .service-block .inner-box:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        max-height: 4px;
        z-index: 2;
        background-color: var(--bg-theme-color1);
        content: "";
    }

    .service-block .inner-box .image-box .image:before,
    .service-block .inner-box .content-box {
        opacity: 0;
        visibility: hidden;
    }

    .service-block .inner-box .image-box {
        position: relative;
        min-height: 304px;
    }

    .service-block .inner-box .image-box .image {
        position: relative;
        margin-bottom: 0;
        background-color: var(--theme-color2);
    }

    .service-block .inner-box .image-box .image:before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color: #fff;
        content: "";
    }

    .service-block .inner-box .image-box .image img {
        width: 100%;
        min-height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .service-block .inner-box .content-box {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 20px;
        background-color: #fff;
        -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
        padding: 16px 30px;
    }

    .service-block .inner-box .content-box .icon {
        position: absolute;
        right: 0;
        bottom: 100%;
        height: 64px;
        width: 64px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: var(--theme-color1);
        color: var(--theme-color2);
        font-size: 32px;
        z-index: 2;
    }

    .service-block .inner-box .content-box .title {
        color: var(--theme-color2);
        margin-bottom: 0;
    }

    .service-block .inner-box .hover-content {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 25px 30px 20px;
        z-index: 2;
        opacity: 0;
        visibility: visible;
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .service-block .inner-box .hover-content::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--theme-color1);
        opacity: 0.9;
        content: ""; border:2px solid var(--theme-color-service-block)
    }

    .service-block .inner-box .hover-content .icon {
        position:relative; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; height:64px; width:64px; color:var(--theme-color1); font-size:32px; background-color:var(--theme-color2); margin-bottom:25px; opacity:1; -webkit-transform:translate(0); transform:translate(0)
    }

    .service-block .inner-box .hover-content .title {
        color:var(--theme-color-service-block); margin-bottom:20px; opacity:1; -webkit-transform:translate(0); transform:translate(0)
    }

    .service-block .inner-box .hover-content .text {
        color:var(--theme-color-service-block); opacity:1; -webkit-transform:translate(0); transform:translate(0)
    }

    @media (max-width:991.98px) {
        .call-to-action .outer-box .title br {
            display:none
        }
    }

    .marquee-section {
        position:relative; background-color:var(--bg-theme-color1); padding:15px 0
    }

    .marquee {
        position:relative; --duration:30s; --gap:0; display:-webkit-box; display:-ms-flexbox; display:flex; overflow:hidden; gap:var(--gap)
    }

    .marquee .marquee-group {
        -ms-flex-negative:0; flex-shrink:0; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -ms-flex-pack:distribute; justify-content:space-around; gap:var(--gap); min-width:100%; -webkit-animation:scroll var(--duration) linear infinite; animation:scroll var(--duration) linear infinite
    }

    .marquee .text {
        font-size:20px; line-height:36px; color:var(--theme-color2); font-weight:500; text-transform:uppercase; letter-spacing:.1em; margin:0 25px
    }

    @media (prefers-reduced-motion:reduce) {
        .marquee .marquee-group {
            -webkit-animation-play-state:play; animation-play-state:play
        }
    }

    @-webkit-keyframes scroll {
        0% {
            -webkit-transform:translateX(0); transform:translateX(0)
        }

        100% {
            -webkit-transform:translateX(calc(-100% - var(--gap))); transform:translateX(calc(-100% - var(--gap)))
        }
    }

    @keyframes scroll {
        0% {
            -webkit-transform:translateX(0); transform:translateX(0)
        }

        100% {
            -webkit-transform:translateX(calc(-100% - var(--gap))); transform:translateX(calc(-100% - var(--gap)))
        }
    }