/*
 * ThemeMascot custom-bootstrap-margin-padding
 * -----------------------------------------------
*/
/* Margin */

/* Padding */

.pt-50 {
  padding-top: 50px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pt-120 {
  padding-top: 120px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-100 {
  padding-bottom: 100px !important; }
